.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
    justify-content: center;
}
.box{
    flex:1 1 180px;
    min-width: 180px;
    max-width: 220px;
    height: 150px;
    padding: 15px;
    background-image: url("dog.jpeg");
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

h1{
     flex:1;
    max-width: 400px;
    height: 100px;
    background: palevioletred;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
}
    